*{
	margin:0px;
	padding:0px;
}

html,body{
	  width: 100%;
  height: 100%;
}


header{
	padding-top:2%;
	padding-bottom:2%;
	text-align:center;
	background:url(../img/misc/paw.png) left top no-repeat ,url(../img/misc/bone.png) right bottom no-repeat , url(../img/misc/pattern.png) left top repeat;
	background-size: 2%, 2%, auto;
	background-color:#b7d7e8;
	

	
	width:100%;
}

h1{
	font-size:2em;
	font-weight:bold;
	
}

main{
	
	width:100%;
	height:auto;
	background-color:#E6EBEA;
}

.imgs{
	
-webkit-box-shadow: 7px 11px 8px -7px rgba(0,0,0,0.17);
-moz-box-shadow: 7px 11px 8px -7px rgba(0,0,0,0.17);
box-shadow: 7px 11px 8px -7px rgba(0,0,0,0.17);

	width:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;

	
}

#soundOption{
	margin-left:auto;
	margin-right:auto;
	width:20%;
	position:relative;
	top:25%;
	left:5%;
	font-family: Impact, Charcoal, sans-serif;
	
}

#EndGame{
	display:none;
	height:550px;
	text-align:center;
	background-color:#E6EBEA;
	
}

h2{
	font-size:3em;
	font-weight:bold;
}

h3{
	font-size:2em;
}

.card{
	display:inline-block;
	position:relative;
	max-width:20%;
	height:25vh;
	margin-top:1.5%;
	margin-bottom:0%;	
	
	-webkit-box-shadow: 10px 12px 12px -5px rgba(0,0,0,0);
	-moz-box-shadow: 10px 12px 12px -5px rgba(0,0,0,0);
	box-shadow: 10px 12px 12px -5px rgba(0,0,0,0);
	margin-left:3.7%;

	cursor:pointer;
}

.faces{
	display:inline-block;
	position:absolute;
	
}
.card > .cardFace{
	margin-left:1%;
	backface-visibility:hidden; 
	transform: rotatey(180deg);
	transition:transform 0.3s;
	
	
}

.card > .cardBack{
	backface-visibility:hidden;
	transition:transform 0.3s;
	
}

#game{
	display:none;
}

#mainMenu{
	background-color:#E6EBEA;
	height:80vh;
}

.button{
	width:25%;
	height:30px;
	background-color:#b7d7e8;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:center;
	padding-top:10px;
	top:20%;
	margin-bottom:2.5%;
	opacity: 0.5;
	font-size:150%;
	font-family: Impact, Charcoal, sans-serif;
	line-height: 0.5;
}


.button:hover{
	cursor: pointer;
	opacity: 0.7;
}


#options{
	display:none;
	background-color:#E6EBEA;

}

#howToPlay{
	margin-top:3em;
	margin-bottom:3em;
	margin-left:5%;
}



/*---*/

.decoration{
	width:2%;
}



hr{
	margin-top:1%;
	margin-bottom:1%;
	border-style: solid;
	border-width: 0px 0px 1.5em;
	-moz-border-image: url(../img/misc/hr.png) 27 27 53 28 round;
	-webkit-border-image: url(../img/misc/hr.png) 27 27 53 28 round;
	-o-border-image: url(../img/misc/hr.png) 27 27 53 28 round;
	border-image: url(../img/misc/hr.png) 27 27 53 28 round;

}

footer{
	clear:both;
	
	background-color:#E5FFAD;
	background:linear-gradient(#b7d7e8, #87bdd8);
	
	clear:both;
	width:100%;
	height:auto;
	text-align:center;
	display:table;
	
}

footer>img{
	max-width: 7%;	
	float:right;
}

footer>div>span{
	display:block;
	margin-top:1%;
	font-size:1em;
	

}


firstCardsGroup:hover, secondCardsGroup:hover{
	 cursor: pointer; 
	 cursor: hand; 
}


@media all and (max-width:800px){


	.card{
	position:relative;
	width:23%;
	height:15vw;	
	
}

	
	footer>img{	
	max-width: 15%;	
	}
}